body, html {
    height: 100%;
    scroll-behavior: smooth;
  }

.index-body, .about-body, .contact-body, .rates-body, .services-body, .all-services-body {
    background-image: url("massage1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-body {
    background-image: url("massage2.jpg");
}

.contact-body {
  background-image: url("massage3.jpg");
}

.rates-body{
  background-image: url("cons1.jpg");
}

.services-body{
  background-image: url("pain.jpg");
}

.all-services-body{
  background-image: url("services.jpg");
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #5D5A5A;
    height:55px;
}

.footer{
  background-color: #5D5A5A;
  height:25px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover{
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.container{
  padding:45px;
}
textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=text], [type=email], [type=tel] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: horizontal;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:white;

}

.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 90%;
  margin-top: 6px;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  width:15%;
  float: left;
  margin:auto;
}


.dropdown, .dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:55px;
  left:0px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  top:0px;
  left:130px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:170px;
}

.dropdown-content a:hover{
  background-color: #f1f1f1
}

.topnav .dropdown:hover .dropdown-content, .topnav .dropdown2:hover .dropdown-content2{
  display:inline-block;
}

.home-middle{
  position: absolute;
  width: 500px;
  height: 200px;
  top: 35%;
  left: 40%;
  opacity: 0;
}

#section-middle{
  color:white;
  font-size:40px;
}

.btn-success{
  position:absolute;
  padding: 12px;
  top:70%;
  left:30%;
}

.About-me-section{
  position: absolute;
  width:800px;
  height:550px;
  top: 7%;
  left: 25%;
}

.accordion{
  --bs-accordion-bg: #5D5A5A;
  --bs-accordion-active-bg:#ddd;
}

#about-me-btn, #my-qualifications-id, #availability-id{
  font-size:20px;
}

.accordion-body{
  color:white;
}

#inner {
  margin: 15px auto 0;
  overflow: hidden;
  width: 1200px;
  left:40%;
}

#content {
    position:absolute;
    width:1200px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px;
    padding: 15px;
    width: 900px;
    left:25%;
    height: 110%;
}

.entry{

  padding: 10px;
  font-size:20px;
  height:5%
}

.portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:90%;
  padding: 5px;
  justify-content:space-between;
}

.portfolio-item{
  border: 1px solid #DDDDDD;
  width:33%;
  height:45%;
}

.portfolio-frame{
  height:100%;
}

.image{
  width:100%;
  height:170px;
}

hr{
  border-top: 1px dotted black;
}

.portfolio-item-title{
  text-align: center;
  font-weight: bold;
}

.portfolio-item-title a{
  text-decoration: none;
  color:black;
}

.container-services{
  position:absolute;
  width:700px;
  height:900px;
  padding:45px;
  left:30%;
  top:10%;
  border: 1px solid #DDDDDD;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  background: none repeat scroll 0 0 #FFFFFF;
}

.container-inside-frame{
  width:100%;
  height:100%;
}

.carousel{
  left:30%;
  top:10%;
  width:700px;
  opacity:0;

}

h5{
  font-size:25px;
}

.carousel-description{
  font-size:15px;
}

.d-block{
  border-radius:10px;
  height:500px;
}










